<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.windows.forms jitDebugging="true" />
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="AForge.Video.DirectShow" 
                                  publicKeyToken="61ea4348d43881b7" 
                                  culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.2.5.0" 
                                 newVersion="2.2.5.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="AForge" 
                                  publicKeyToken="61ea4348d43881b7" 
                                  culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.2.5.0" 
                                 newVersion="2.2.5.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="AForge.Video" 
                                  publicKeyToken="61ea4348d43881b7" 
                                  culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.2.5.0" 
                                 newVersion="2.2.5.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="FirebirdSql.Data.FirebirdClient" 
                                  publicKeyToken="3750abcc3150b00c" 
                                  culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-10.3.1.0" 
                                 newVersion="10.3.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Threading.Tasks.Extensions" 
                                  publicKeyToken="cc7b13ffcd2ddd51" 
                                  culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" 
                                 newVersion="4.2.0.1" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>